<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<property name="contextName" value="eureka-gateway"/>
    <property name="layoutPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{0}:%L-%X{ID}- %msg%n"/>
    <contextName>${contextName}</contextName>
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${layoutPattern}</pattern>
        </encoder>
    </appender>
	
    <root level="INFO">
    	<appender-ref ref="STDOUT"/>
    </root>
</configuration>